*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
h1{
	color: white;
	font-size: 4em;
	text-align: center;
}
.banner-nav{
	background-image: url("eclipse.jpg");
	background-position: center center;
	background-size: cover;
	height: 100vh;
}
.contenedor-nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0;
}
.navegacion{
	padding: 15px 0;
}
.navegacion a{
	padding: 10px 2px;
	font-weight: bold;
	color: white;
}
.navegacion a:hover{
	background-color: #4c33bd;
}
.section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
}
.section a{
	margin-top: 5%;
	padding: 20px 40px;
	color: white;
	border: 2px solid white;
	border-radius: 20px;
	font-weight: bold;
}
.section a:hover{
	background-color: white;
	color: black;
}