*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
}
body{
	background-color: #eee;
}
#check{
	display: none;
}
label img{
	width: 40px;
}
ul{
	position: fixed;
	list-style-type: none;
	left: -100%;
	text-align: left;
}
li{
	padding: 10px;
}
a{
	text-decoration: none;
	font-weight: bold;
	color: white;
	display: block;
}
.section-nav{
	background-color: yellow;
}
nav{	
	width: 90%;
	margin: 0 auto;
	text-align: right;
	height: 45px;
}
.banner{
	padding: 50px 0;
	text-align: center;
	color: white;
	background-image: url("img/banderaGay.jpg");
	background-size: cover;
	background-position: center center;
}
.banner img{
	width: 100%;
	min-width: 130px;
	max-width: 600px;
}
section h2{
	text-align: center;
}
.foto{
	width: 90%;
	margin: 0 auto;
	position: relative;
	box-shadow: 0 0 4px orange;
}
.foto div{
	position: absolute;
	color: blueviolet;
	top: 30%;
	width: 100%;
	text-align: center;
	display: none;
	font-weight: bold;
	font-size: 20px;
}
.foto img{
	width: 100%;
}
.foto img:hover{
	opacity: 0.3;
}
.foto img:hover + div{
	
	display: block;
}
#check:checked + ul{
	left: 0;
	display: flex;
	flex-direction: column;
	background-color: red;
	width: 100%;
	height: Calc(100vh - 44px);
	transition: all 0.5s;
	z-index: 1;
}
@media (min-width: 350px){
	.banner h2{
		font-size: 40px;
	}
	.banner small{
		font-size: 20px;
	}
}
@media (min-width: 400px){
	.foto div{
		top: 50%;
	}
}
@media (min-width: 600px){
	.section-phots h2{
		padding: 50px 0;
		font-size: 30px;
	}
	.banner{
		height: Calc(100vh - 145px);
	}
	.section-nav{
		background-color: #00ff11;
	}
	.section-phots{
		margin: 20px 0;
	}
	label img{
		display: none;
	}
	ul{	
		position: inherit;
	}
	nav a{
		padding: 10px 20px;
		background-color: blueviolet;
	}
	ul li{
		display: inline-flex;
		padding: 0;

	}
	nav{
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	nav a:hover{
		background-color: white;
		color: black;
	}
}
@media (min-width: 720px){
	.section-phots h2{
		font-size: 40px;
	}
	.banner h2{
		font-size: 60px;
	}
	.banner small{
		font-size: 40px;
	}
	.container-phots{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.foto{
		width: 45%;
	}
}
@media (min-width: 1024px){
	.container-phots{
		display: flex;
	}
	.foto{
		width: 20%;
		max-width: 610px;
	}
	.banner{
		max-height: 700px;
	}
}