*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #fff;
	font-weight: bolder;
	text-transform: uppercase;
}
nav{
	height: 60px;
}

ul{
	position: absolute;
	left: -100%;
	padding-top: 5rem;
	padding-left: 1rem;
	border: 1px solid #fff;
}
li{
	margin-bottom: 1rem;
}
.menu{
	position: absolute;
	top: 1rem;
	left: 1rem;
}
.menu span{
	font-size: 2rem;
}
#cierre{
	transform: scale(0);
	z-index: 1;
}
.nav:target > ul{
	transition: all .5s;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(233, 125, 50, .8);
}
.nav:target > #cierre{
	transform: scale(1);
	transition: transform .5s;
}
.nav:target > #menu{
	transform: scale(0);
}
.header{
	height: 100vh;
	background:linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("earth.jpg");
	background-size: cover;
	background-position: center top;
}
.information{
	height: Calc(100vh - 60px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	font-size: 1.2rem;
	font-weight: bolder;
}
.boton{
	margin-top: .5rem;
	padding: .5rem;
	border: 2px solid #fff;
	border-radius: .4rem;
	cursor: pointer;
}
.services{
	padding: 1rem;
}
@media (min-width: 800px){
	.menu{
		display: none;
	}
	ul{
		border: none;
		text-align: right;
		position: unset;
		padding: 1rem;
	}
	li{
		display: inline-flex;
		margin: 0;
	}
	ul a{
		padding: 1rem;
		border: 1px solid #fff;
	}
}